.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
}

.button {
  padding: 0.5rem;
  width: 100%;
}

.signbutton {
  padding: 0.5rem;
  width: 25%;
}

